body {
  background-color: black; /* 设置背景色为黑色 */
  font-family: Helvetica, Helvetica, sans-serif;
}


.app-header {
  display: flex;
  align-items: center; /* 垂直居中子元素 */
  justify-content: flex-start; /* 子元素靠左对齐 */
  padding: 10px 20px; /* 根据需要调整内边距 */
}

.banner {
  /* 保持banner文本居中 */
  position: absolute; /* 绝对定位 */
  left: 50%; /* 移动到容器的50%位置 */
  transform: translateX(-50%); /* 向左偏移自身的50%以确保真正居中 */
  font-size: 3em;
  font: bold;
  text-align: center; /* 文本居中 */
}


.sub-banner {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  background-color: black;
  color: rgb(241, 241, 241);
  font-size: large;
}

.app-container {
  text-align: center;
  background-color: black;
  color: white;
}

.main-image-container {
  position: relative;
  color: white;
}

.main-image {
  max-width: 100%;
  height: 40%;
  margin-bottom: 50px;
}

.main-image-description {
  position: absolute; /* 绝对定位 */
  top: 440px; /* 从顶部开始 */
  right: 62px; /* 定位到右侧 */
  width: 28%; /* 可调整宽度 */
  color: white; /* 文字颜色 */
  background-color: rgba(0, 0, 0, 0.50); /* 半透明背景，可选 */
  border-radius: 5px; /* 圆角的大小，可以根据需要调整 */
  padding: 28px; /* 内边距 */
  font-size: 1.06em;
  text-align: center;
}

.main-image-description2 {
  position: absolute; /* 绝对定位 */
  top: 0px; /* 从顶部开始 */
  font-size: 2.6em;
  right: 12px; /* 定位x到右侧 */
  width: 40%; /* 可调整宽度 */
  color: rgb(255, 255, 255); /* 文字颜色 */
  text-align: center; /* 文本对齐方式 */
  font-weight: bolder;
}

.main-image-description3 {
  position: absolute; /* 绝对定位 */
  top: 70px; /* 从顶部开始 */
  right: 10px; /* 定位x到右侧 */
  font-size: 1.15em;
  width: 40%; /* 可调整宽度 */
  color: white; /* 文字颜色 */
  text-align: center; /* 文本对齐方式 */
  font-weight: bold;
}

.main-image-description:hover {
  transform: scale(1.05); /* 当鼠标滑过时，图片放大5% */
}



.images-task {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding: 5px 0;
  margin-top: 20px;
  margin-bottom: 135px;

}


.diagram-image {
  width: 67%;
  height: auto;
  object-fit: cover; /* 确保图片不失真 */
  transition: transform 0.3s ease; /* 添加过渡效果，使变换更平滑 */
  border-radius: 8px; /* 圆角的大小，可以根据需要调整 */
  margin-bottom: 280px;
}


.image-diagram {
  display: flex;
  justify-content: center; /* 使子元素居中对齐 */
  gap: 60px; /* 根据需要调整子元素之间的间距 */
  transition: background-color 0.3s ease-in-out;
}

.task-image {
  width: 295px;
  height: 200px;
  object-fit: cover; /* 确保图片不失真 */
  transition: transform 0.3s ease; /* 添加过渡效果，使变换更平滑 */
  border-radius: 12px; /* 圆角的大小，可以根据需要调整 */
}

.task-image:hover {
  transform: scale(1.13); /* 当鼠标滑过时，图片放大5% */
}

.image-team {
  display: flex;
  justify-content: center; /* 使子元素居中对齐 */
  gap: 60px; /* 根据需要调整子元素之间的间距 */
  transition: background-color 0.3s ease-in-out;
}

.team {
  display: flex;
  flex-direction: column; /* 使图片和文字垂直排列 */
  align-items: center; /* 居中对齐图片和文字 */
  gap: 5px; /* 调整图片和文字之间的距离 */
  transition: background-color 0.3s ease-in-out;
  background-color: transparent; /* 初始背景色透明 */
}

.team-image {
  width: 220px; /* 根据需要调整宽度 */
  height: 220px; /* 保持图片的纵横比 */
  object-fit: cover; /* 确保图片不失真 */
  transition: transform 0.3s ease; /* 添加过渡效果，使变换更平滑 */
  border-radius: 50%; /* 使图片完全圆形 */
  margin-bottom: 10px;
}

.team-image:hover {
  transform: scale(1.08); /* 当鼠标滑过时，图片放大5% */
  box-shadow: 0px 5px 30px rgba(237, 237, 237, 0.238); /* 添加阴影 */

}


.word {
  width: 58%; 
}

.name {
  font-weight: bold;
  font-size: 1.3em;
}




.text-container2 {
  width: 65%; /* 控制文本宽度，可根据需要调整 */
  margin: 2px auto; /* 减少间隔 */
  color: white; /* 文本颜色，可根据背景调整 */
  text-align: center; /* 文本对齐方式 */
}

.images-row {
  display: flex;
  justify-content: center;
  gap: 2px; /* 减小gap值 */
  margin-top: 20px;
}


.image-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px; /* 减少或调整外边距以减小距离 */
}


.row-image {
  width: 200px;
  height: 200px;
  object-fit: cover; /* 确保图片不失真 */
}


.subtitle {
  margin-top: 20px;
  margin-bottom: 0px; /* 减少下边距 */
  font-size: 2em;
  margin-bottom: 40px;
}



.text-container2 {
  width: 50%; /* 控制文本宽度，可根据需要调整 */
  margin: 2px auto; /* 减少间隔 */
  color: white; /* 文本颜色，可根据背景调整 */
  text-align: center; /* 文本对齐方式 */
}



.uw {
  margin-top: 100px;
  width: 500px;
  height: 100px;
  object-fit: cover; /* 确保图片不失真 */
}

。button {
  /* 添加阴影 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、阴影颜色 */

  /* 按钮基础样式 */
  padding: 10px 20px;
  border: none;
  color: white; /* 文字颜色 */
  background-color: #007bff; /* 按钮背景色 */
  border-radius: 5px; /* 圆角 */
  cursor: pointer; /* 鼠标悬停时的光标形状 */
  transition: all 0.3s ease; /* 过渡效果，使状态变化更平滑 */
}


.button:hover {
  /* 鼠标悬停时的样式 */
  background-color: #0056b3; /* 按钮背景色变暗 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.75); /* 加大阴影效果 */
}

@media (min-width: 768px) {
  .container {
      width: 50%;
  }
}